<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="/assets/style/all.css">
  <script src="./assets/js/jquery-3.5.1.min.js"></script>
</head>

<body>
  <header class="header d-flex">
    <a class="menu" href="#"><img src="/assets/images/ic_menu_24px.svg" alt=""></a>
    <a class="logo" href="#"><img src="/assets/images/logo.png" alt="LOGO"></a>
    <ul class="d-flex">
      <li><a href="#">系列鏡框</a></li>
      <li><a href="#">門市據點</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="#">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="footer-outer container">
      <div class="footer-top d-flex">
        <div class="footer-top-left d-flex">
          <ul class="footer-menu d-flex">
            <li><a href="">首頁</a></li>
            <li><a href="">系列鏡框</a></li>
            <li><a href="">門市據點</a></li>
            <li><a href="">部落格</a></li>
            <li><a href="#">常見問題</a></li>
          </ul>
          <ul class="footer-contact">
            <li class="d-flex"><img class="phone" src="/assets/images/icon-phone.svg" alt=""><a
                href="tel:+88680000000">0800-000-000</a></li>
            <li class="d-flex"><img class="mail" src="assets/images/icon-mail.svg" alt=""><a
                href="mailto:glasses@business.com">glasses@businness.com.tw</a>
            </li>
          </ul>
        </div>
        <div class="footer-top-right">
          <ul class="footer-media d-flex">
            <li><img src="assets/images/icon-fb.svg" alt=""></li>
            <li><img src="assets/images/icon-ig.svg" alt=""></li>
            <li><img src="assets/images/icon-line.svg" alt=""></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom d-flex">
        <h2 class="logo"><img src="assets/images/logo.png" alt=""></h2>
        <p class="mra">Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="footer-bottom-list d-flex">
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script>
    $(document).ready(function () {
      $('.header .menu').click(function(e) {
        e.preventDefault();
        $('.header').toggleClass('active');        
      })
    });
  </script>
</body>

</html>