.index {
  .banner {
    background-image: url(../images/banner.png);
    background-position: center center;
    height: 840px;
    background-size: cover;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #650300;
    @include mobile {
      background-image: url(../images/banner-sm.png);
      height: 394px;
    }
    h2 {
      font-size: 36px;
      line-height: 54px;
      @include pad {
        font-size: 20px;
        line-height: 30px;
        padding-right: 6.25%;
      }
      @include mobile {
        font-size: 16px;
        line-height: 30px;
        padding-right: 3.2%;
      }
    }
    p {
      font-size: 64px;
      line-height: 96px;
      @include pad {
        font-size: 48px;
        line-height: 72px;
        padding-right: 6.25%;
      }
      @include mobile {
        font-size: 32px;
        padding-right: 3.2%;
      }
    }
  }
  .content {
    .intro {
      background: #aa06010d;
      color: #650300;
      padding-top: 64px;
      padding-bottom: 80px;
      @include pad {
        padding-top: 40px;
        padding-bottom: 120px;
      }
      h2 {
        text-align: center;
        font-size: 48px;
        line-height: 72px;
        // padding-bottom: 44px;
        @include pad {
          font-size: 32px;
          line-height: 48px;
          padding-bottom: 12px;
        }
        @include mobile {
          font-size: 24px;
        }
      }
      ul {
        justify-content: space-between;
        align-items: baseline;
        @include pad {
          justify-content: space-around;
          flex-wrap: wrap;
        }
        @include mobile {
          justify-content: center;
        }
        .single-price {
          @include pad {
            order: 3;
          }
        }
        .twenty-min {
          @include pad {
            order: 1;
          }
        }
        .service {
          @include pad {
            order: 2;
          }
        }
        .lens {
          @include pad {
            order: 4;
          }
        }
        li {
          width: 23.33333%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-top: 44px;
          @include pad {
            width: 42.1875%;
          }
          @include mobile {
            width: 93.86667%;
          }
          img {
            margin-bottom: 40px;
          }
          .pb {
            padding-bottom: 14px;
          }
          h3 {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 4px;
            @include pad {
              font-size: 20px;
              line-height: 30px;
              margin-bottom: 8px;
            }
          }
          p {
            font-size: 16px;
            line-height: 24px;
            padding-right: 13.1205%;
            padding-left: 13.1205%;
            @include pad {
              padding-right: 15.432%;
              padding-left: 15.432%;
            }
          }
        }
      }
    }

    .classic {
      padding-top: 64px;
      padding-bottom: 80px;
      color: #650300;
      @include pad{
        padding-top: 40px;
        padding-bottom: 40px;
      }
      @include mobile {
        padding-top: 24px;
        padding-bottom: 24px;
      }
      h2 {
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        padding-bottom: 28px;
        @include pad {
          font-size: 32px;
          line-height: 48px;
          padding-bottom: 0;
        }
        @include mobile {
          font-size: 24px;
        }
      }
      li {
        display: flex;
        margin-top: 32px;
        @include mobile {
          position: relative;
          justify-content: center;
          align-items: center;
        }
        a {
          // margin-top: 32px;
          width: 66%;
          height: 320px;
          text-decoration: none;
          background-size: cover;
          display: block;
          background-position: center center;
          @include pad {
            width: 53.38542%;
            height: 168px;
            margin-left: 6.25%;
          }
          @include mobile {
            width: 93.8666%;
            margin-left: 0;
            height: 134px;
          }
        }
        .img-1 {
          background-image: url(../images/product-1.png);
        }
        .img-2 {
          background-image: url(../images/product-2.png);
        }
        .img-2:hover {
          background-image: url(../images/product-2-color.png);
        }
        .img-3 {
          background-image: url(../images/product-3.png);
        }
        h3 {
          font-size: 48px;
          line-height: 72px;
          text-transform: uppercase;
          padding: 24px;
          color: #aa0601;
          display: flex;
          align-items: center;
          @include pad {
            font-size: 28px;
            line-height: 42px;
            margin: auto;
          }
          @include mobile {
            position: absolute;
            color: #fff;
          }
          img {
            margin-right: 8px;
            @include mobile {
              color: #fff;
            }
          }
          // @include mobile 的白色 icon 尚未置換
          .diamond {
            @include pad {
              width: 32px;
            }
          }
          .sun {
            @include pad {
              width: 32px;
              height: 32px;
            }
          }
          .thunder {
            @include pad {
              height: 32px;
            }
          }
        }
      }

      .row-r {
        flex-direction: row-reverse;
        @include pad {
          flex-direction: row;
        }
      }
    }

    .joint {
      background-image: url(../images/bg.png);
      background-position: center center;
      background-size: cover;
      padding: 64px 0 480px;
      @include pad {
        padding: 24px 0 417px;
      }
      @include mobile {
        padding: 24px 0 189px;
      }
      h2 {
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        padding-bottom: 60px;
        @include pad {
          font-size: 24px;
          line-height: 36px;
          padding-bottom: 16px;
        }
      }
      .img-group-top {
        justify-content: space-between;
        margin: 0 6.25%;
        @include pad {
          margin: 6.4%;
        }
        .img4-top-left,
        .img6-top-right-bottom-left {
          margin-right: 8px;
        }
        .img5-top-right-top,
        .img7-top-right-bottom-right-bottom {
          flex-direction: column;
          align-items: flex-end;
        }
        .img5-top-right-top > ul {
          margin-top: 8px;
        }
        .more {
          margin-top: 8px;
          margin-right: 85px;
          max-width: 30%;
          position: relative;
          transition: all 0.65s 0.3s;
          transform: translateX(0px);
          // display: flex;
          @include pad {
            margin-right: 49px;
          }
          span {
            padding: 5px 0 5px 32px;
            color: #aa0601;
            z-index: 10;
            font-size: 72px;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include pad {
              font-size: 40px;
            }
            @include mobile {
              font-size: 26px;
            }
            img {
              display: block;
              @include pad {
                width: 40px;
              }
              @include mobile {
                width: 26px;
              }
            }
          }
          span:before {
            content: "MORE";
            position: absolute;
            transition: all 0.65s 0.3s;
            transform: translateY(0px);
          }
          span:hover:before {
            transform: translateY(-85px);
            opacity: 0.7;
          }
          span:after {
            content: "MORE";
            position: absolute;
            transition: all 0.65s 0.3s;
            transform: translateY(0px);
          }
          span:hover:after {
            transform: translateY(-145px);
            opacity: 0.4;
          }
        }
        .more::after {
          content: "";
          position: absolute;
          background: #fff;
          top: 8%;
          bottom: 8%;
          left: 10%;
          right: -85px;
          @include pad {
            right: -49px;
          }
        }
        .more:hover img:last-child {
          transform: translateX(15px);
        }
      }
      .img-group-bottom {
        justify-content: center;
        margin-top: 60px;
        padding: 0 3.2%;
        @include mobile {
          flex-wrap: wrap;
        }
        div {
          background-color: #fff;
          position: relative;
          // width: 100%;
        }
        div:after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #aa0601;
          font-size: 72px;
          line-height: 108px;
          font-weight: bold;
          margin: auto;
          white-space: nowrap;
          @include pad {
            font-size: 32px;
            line-height: 25px;
          }
        }
        img {
          opacity: 0.5;
          display: block;
        }
        .img-8 {
          margin-right: 2.5%;
          @include mobile {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        .img-8:after {
          content: "Double A+";
        }
        .img-9:after {
          content: "YOUTH";
        }
      }
    }
    .recommand {
      margin-top: -268px;
      padding-bottom: 80px;
      @include pad {
        margin-top: -332px;
        padding-bottom: 40px;
      }
      @include mobile {
        margin-top: -175px;
        padding-bottom: 48px;
      }
      h2 {
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        margin-bottom: 60px;
        @include pad {
          font-size: 32px;
          line-height: 48px;
          margin-bottom: 32px;
        }
        @include mobile {
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 16px;
        }
      }
      ul {
        justify-content: space-between;
        @include pad {
          flex-wrap: wrap;
          padding: 0 6.25%;
        }
        @include mobile {
          padding: 0;
          justify-content: center;
        }
      }
      li {
        width: 23.5%;
        @include pad {
          width: 42.1875%;
        }
        @include mobile {
          width: 93.86667%;
        }
        .rec-1,
        .rec-2,
        .rec-3,
        .rec-4 {
          background-size: cover;
          width: 100%;
          height: 256px;
          background-position: center center;
        }
        .rec-1 {
          background-image: url(../images/rec-1.png);
        }
        .rec-2 {
          background-image: url(../images/rec-2.png);
        }
        .rec-3 {
          background-image: url(../images/rec-3.png);
        }
        .rec-4 {
          background-image: url(../images/rec-4.png);
        }
        .rec-content {
          color: black;
          padding: 16px;
          border: 1px solid #dee2e6;
          font-size: 16px;
          h3 {
            line-height: 21px;
            padding-bottom: 16px;
          }
          p {
            line-height: 24px;
            padding-bottom: 16px;
          }
          span {
            line-height: 21px;
          }
        }
      }
    }

    .form {
      color: black;
      padding-top: 64px;
      padding-bottom: 50px;
      @include pad {
        padding-top: 40px;
      }
      @include mobile {
        padding-top: 24px;
      }
      form {
        width: 66%;
        margin: 0 auto;
        @include pad {
          width: 64.84375%;
        }
        @include mobile {
          width: 87.2%;
        }
        h2 {
          font-size: 48px;
          line-height: 72px;
          text-align: center;
          padding-bottom: 24px;
          @include pad {
            font-size: 32px;
            line-height: 48px;
            padding-bottom: 16px;
          }
          @include mobile {
            font-size: 20px;
            padding-bottom: 8px;
          }
        }
        p {
          font-size: 20px;
          line-height: 30px;
          padding-bottom: 20px;
          @include pad {
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 16px;
          }
          @include mobile {
            padding-bottom: 8px;
          }
        }
        label,
        input:not([type="checkbox"]) {
          display: block;
        }
        label {
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 4px;
        }
        input:not([type="checkbox"]),
        textarea {
          width: 100%;
          padding: 14px 16px;
          border: 1px solid #000000;
          // margin-bottom: 16px;
        }
        textarea {
          height: 136px;
          @include mobile {
            height: 100px;
          }
        }
        textarea,
        input {
          margin-bottom: 16px;
          @include pad {
            margin-bottom: 12px;
          }
        }
        input[type="checkbox"] {
          width: 24px;
          height: 24px;
        }
        span {
          vertical-align: top;
          font-size: 16px;
          line-height: 24px;
        }
        input[type="submit"] {
          width: 22.72727%;
          background-color: #aa0601;
          color: #fff;
          margin: 0 auto;
          font-size: 16px;
          line-height: 24px;
          @include pad {
            width: 27.30923%;
            line-height: 10px;
          }
          @include mobile {
            width: 42.59021%;
          }
        }
        input[type="submit"]:hover{
          background-color:#650300;
          cursor:pointer;
        }
      }
    }
  }
}
